<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepartmentRealMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into "T_AGGZTJ_DQ_3"(
			"DWMC",	
			"WTBM04_JCJS_TYSAH",	
			"WTBM05_JCJS_TYSAH",	
			"WTBM02_JCJS_TYSAH",	
			"WTBM03_JCJS_TYSAH",	
			"WTBM06_JCJS_TYSAH",	
			"WTBM07_JCJS_TYSAH",	
			"WTBM08_JCJS_TYSAH",	
			"WTBM09_JCJS_TYSAH",	
			"WTBM10_JCJS_TYSAH",	
			"WTBM11_JCJS_TYSAH",	
			"WTBM14_JCJS_TYSAH",	
			"WTBM01_JCJS_TYSAH",	
			"WTBM13_JCJS_TYSAH",	
			"WTBM12_JCJS_TYSAH",	
			"WTBM30_JCJS_TYSAH",	
			"WTBM21_JCJS_TYSAH",	
			"WTBM22_JCJS_TYSAH",	
			"WTBM23_JCJS_TYSAH",	
			"WTBM24_JCJS_TYSAH",	
			"AGGZTJ_DQ_3_ID"
		) values (
			#{DWMC},	
			#{WTBM04_JCJS_TYSAH},	
			#{WTBM05_JCJS_TYSAH},	
			#{WTBM02_JCJS_TYSAH},	
			#{WTBM03_JCJS_TYSAH},	
			#{WTBM06_JCJS_TYSAH},	
			#{WTBM07_JCJS_TYSAH},	
			#{WTBM08_JCJS_TYSAH},	
			#{WTBM09_JCJS_TYSAH},	
			#{WTBM10_JCJS_TYSAH},	
			#{WTBM11_JCJS_TYSAH},	
			#{WTBM14_JCJS_TYSAH},	
			#{WTBM01_JCJS_TYSAH},	
			#{WTBM13_JCJS_TYSAH},	
			#{WTBM12_JCJS_TYSAH},	
			#{WTBM30_JCJS_TYSAH},	
			#{WTBM21_JCJS_TYSAH},	
			#{WTBM22_JCJS_TYSAH},	
			#{WTBM23_JCJS_TYSAH},	
			#{WTBM24_JCJS_TYSAH},	
			#{AGGZTJ_DQ_3_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  "T_AGGZTJ_DQ_3"
			set 
				"DWMC" = #{DWMC},	
				"WTBM04_JCJS_TYSAH" = #{WTBM04_JCJS_TYSAH},	
				"WTBM05_JCJS_TYSAH" = #{WTBM05_JCJS_TYSAH},	
				"WTBM02_JCJS_TYSAH" = #{WTBM02_JCJS_TYSAH},	
				"WTBM03_JCJS_TYSAH" = #{WTBM03_JCJS_TYSAH},	
				"WTBM06_JCJS_TYSAH" = #{WTBM06_JCJS_TYSAH},	
				"WTBM07_JCJS_TYSAH" = #{WTBM07_JCJS_TYSAH},	
				"WTBM08_JCJS_TYSAH" = #{WTBM08_JCJS_TYSAH},	
				"WTBM09_JCJS_TYSAH" = #{WTBM09_JCJS_TYSAH},	
				"WTBM10_JCJS_TYSAH" = #{WTBM10_JCJS_TYSAH},	
				"WTBM11_JCJS_TYSAH" = #{WTBM11_JCJS_TYSAH},	
				"WTBM14_JCJS_TYSAH" = #{WTBM14_JCJS_TYSAH},	
				"WTBM01_JCJS_TYSAH" = #{WTBM01_JCJS_TYSAH},	
				"WTBM13_JCJS_TYSAH" = #{WTBM13_JCJS_TYSAH},	
				"WTBM12_JCJS_TYSAH" = #{WTBM12_JCJS_TYSAH},	
				"WTBM30_JCJS_TYSAH" = #{WTBM30_JCJS_TYSAH},	
				"WTBM21_JCJS_TYSAH" = #{WTBM21_JCJS_TYSAH},	
				"WTBM22_JCJS_TYSAH" = #{WTBM22_JCJS_TYSAH},	
				"WTBM23_JCJS_TYSAH" = #{WTBM23_JCJS_TYSAH},	
				"WTBM24_JCJS_TYSAH" = #{WTBM24_JCJS_TYSAH},	
			"AGGZTJ_DQ_3_ID" = "AGGZTJ_DQ_3_ID"
			where 
				"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			"DWMC",	
			"WTBM04_JCJS_TYSAH",	
			"WTBM05_JCJS_TYSAH",	
			"WTBM02_JCJS_TYSAH",	
			"WTBM03_JCJS_TYSAH",	
			"WTBM06_JCJS_TYSAH",	
			"WTBM07_JCJS_TYSAH",	
			"WTBM08_JCJS_TYSAH",	
			"WTBM09_JCJS_TYSAH",	
			"WTBM10_JCJS_TYSAH",	
			"WTBM11_JCJS_TYSAH",	
			"WTBM14_JCJS_TYSAH",	
			"WTBM01_JCJS_TYSAH",	
			"WTBM13_JCJS_TYSAH",	
			"WTBM12_JCJS_TYSAH",	
			"WTBM30_JCJS_TYSAH",	
			"WTBM21_JCJS_TYSAH",	
			"WTBM22_JCJS_TYSAH",	
			"WTBM23_JCJS_TYSAH",	
			"WTBM24_JCJS_TYSAH",	
			"AGGZTJ_DQ_3_ID"
		from 
			"T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a."DWMC",	
				a."WTBM04_JCJS_TYSAH",	
				a."WTBM05_JCJS_TYSAH",	
				a."WTBM02_JCJS_TYSAH",	
				a."WTBM03_JCJS_TYSAH",	
				a."WTBM06_JCJS_TYSAH",	
				a."WTBM07_JCJS_TYSAH",	
				a."WTBM08_JCJS_TYSAH",	
				a."WTBM09_JCJS_TYSAH",	
				a."WTBM10_JCJS_TYSAH",	
				a."WTBM11_JCJS_TYSAH",	
				a."WTBM14_JCJS_TYSAH",	
				a."WTBM01_JCJS_TYSAH",	
				a."WTBM13_JCJS_TYSAH",	
				a."WTBM12_JCJS_TYSAH",	
				a."WTBM30_JCJS_TYSAH",	
				a."WTBM21_JCJS_TYSAH",	
				a."WTBM22_JCJS_TYSAH",	
				a."WTBM23_JCJS_TYSAH",	
				a."WTBM24_JCJS_TYSAH",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select a.dwbm, a.dwmc,
		 nvl(wtbm04_jcjs_zdysj,'0') wtbm04_jcjs_zdysj,
		 nvl(wtbm05_jcjs_zdysj,'0') wtbm05_jcjs_zdysj,
		 nvl(wtbm02_jcjs_zdysj,'0') wtbm02_jcjs_zdysj,
		 nvl(wtbm03_jcjs_zdysj,'0') wtbm03_jcjs_zdysj,
		 nvl(wtbm06_jcjs_zdysj,'0') wtbm06_jcjs_zdysj,
		 nvl(wtbm07_jcjs_zdysj,'0') wtbm07_jcjs_zdysj, 	
		 nvl(wtbm08_jcjs_zdysj,'0') wtbm08_jcjs_zdysj,
		 nvl(wtbm09_jcjs_zdysj,'0') wtbm09_jcjs_zdysj,
		 nvl(wtbm10_jcjs_zdysj,'0') wtbm10_jcjs_zdysj,
		 nvl(wtbm11_jcjs_zdysj,'0') wtbm11_jcjs_zdysj,
		 nvl(wtbm14_jcjs_zdysj,'0') wtbm14_jcjs_zdysj,
		 nvl(wtbm01_jcjs_zdysj,'0') wtbm01_jcjs_zdysj,
		 nvl(wtbm13_jcjs_zdysj,'0') wtbm13_jcjs_zdysj,
		 nvl(wtbm12_jcjs_zdysj,'0') wtbm12_jcjs_zdysj,
		 nvl(wtbm30_jcjs_zdysj,'0') wtbm30_jcjs_zdysj,
		 nvl(wtbm21_jcjs_zdysj,'0') wtbm21_jcjs_zdysj,
		 nvl(wtbm22_jcjs_zdysj,'0') wtbm22_jcjs_zdysj,
		 nvl(wtbm23_jcjs_zdysj,'0') wtbm23_jcjs_zdysj,
		 nvl(wtbm24_jcjs_zdysj,'0') wtbm24_jcjs_zdysj
	   from T_AGGZTJ_DQ_3 a ,
	   (select count(distinct t.tysah),t.DWBM,
	    count(case when t.DWBM like '2301%' then t.bmsah end) wtbm04_jcjs_zdysj,
	    count(case when t.DWBM like '2302%' then t.bmsah end) wtbm05_jcjs_zdysj,  
	    count(case when t.DWBM like '2303%' then t.bmsah end) wtbm02_jcjs_zdysj, 
	    count(case when t.DWBM like '2304%' then t.bmsah end) wtbm03_jcjs_zdysj,  
	    count(case when t.DWBM like '2305%' then t.bmsah end) wtbm06_jcjs_zdysj,  
	    count(case when t.DWBM like '2306%' then t.bmsah end) wtbm07_jcjs_zdysj,  
	    count(case when t.DWBM like '2307%' then t.bmsah end) wtbm08_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm09_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm10_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm11_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm14_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm01_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm13_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm12_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm30_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm21_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm22_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm23_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm24_jcjs_zdysj 
	    from t_ajjbxx_jcjs_max t
	    where t.WTBM like CONCAT(CONCAT('%', #{field1}),'%')
	    and t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
	    AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
	    --and t.DWBM like substr(t.DWBM,1,4) || '%' 
	    group by t.DWBM 
	   ) b
	    where a.dwbm = substr(b.DWBM(+),1,4) order by DWBM asc
	</select>
	
	<!-- 超链接一级 -->
	<select id="listbyDepartmentreal" parameterType="pd" resultType="pd">
		select a.dwbm, a.dwmc,
		 nvl(wtbm04_jcjs_zdysj,'0') wtbm04_jcjs_zdysj,
		 nvl(wtbm05_jcjs_zdysj,'0') wtbm05_jcjs_zdysj,
		 nvl(wtbm02_jcjs_zdysj,'0') wtbm02_jcjs_zdysj,
		 nvl(wtbm03_jcjs_zdysj,'0') wtbm03_jcjs_zdysj,
		 nvl(wtbm06_jcjs_zdysj,'0') wtbm06_jcjs_zdysj,
		 nvl(wtbm07_jcjs_zdysj,'0') wtbm07_jcjs_zdysj, 	
		 nvl(wtbm08_jcjs_zdysj,'0') wtbm08_jcjs_zdysj,
		 nvl(wtbm09_jcjs_zdysj,'0') wtbm09_jcjs_zdysj,
		 nvl(wtbm10_jcjs_zdysj,'0') wtbm10_jcjs_zdysj,
		 nvl(wtbm11_jcjs_zdysj,'0') wtbm11_jcjs_zdysj,
		 nvl(wtbm14_jcjs_zdysj,'0') wtbm14_jcjs_zdysj,
		 nvl(wtbm01_jcjs_zdysj,'0') wtbm01_jcjs_zdysj,
		 nvl(wtbm13_jcjs_zdysj,'0') wtbm13_jcjs_zdysj,
		 nvl(wtbm12_jcjs_zdysj,'0') wtbm12_jcjs_zdysj,
		 nvl(wtbm30_jcjs_zdysj,'0') wtbm30_jcjs_zdysj,
		 nvl(wtbm21_jcjs_zdysj,'0') wtbm21_jcjs_zdysj,
		 nvl(wtbm22_jcjs_zdysj,'0') wtbm22_jcjs_zdysj,
		 nvl(wtbm23_jcjs_zdysj,'0') wtbm23_jcjs_zdysj,
		 nvl(wtbm24_jcjs_zdysj,'0') wtbm24_jcjs_zdysj
	   from T_AGGZTJ_DQ_4 a ,
	   (select count(distinct t.tysah),t.DWBM,
	    count(case when t.DWBM like '2301%' then t.bmsah end) wtbm04_jcjs_zdysj,
	    count(case when t.DWBM like '2302%' then t.bmsah end) wtbm05_jcjs_zdysj,  
	    count(case when t.DWBM like '2303%' then t.bmsah end) wtbm02_jcjs_zdysj, 
	    count(case when t.DWBM like '2304%' then t.bmsah end) wtbm03_jcjs_zdysj,  
	    count(case when t.DWBM like '2305%' then t.bmsah end) wtbm06_jcjs_zdysj,  
	    count(case when t.DWBM like '2306%' then t.bmsah end) wtbm07_jcjs_zdysj,  
	    count(case when t.DWBM like '2307%' then t.bmsah end) wtbm08_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm09_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm10_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm11_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm14_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm01_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm13_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm12_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm30_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm21_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm22_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm23_jcjs_zdysj,
		count(case when t.DWBM like '2307%' then t.bmsah end) wtbm24_jcjs_zdysj 
	    from t_ajjbxx_jcjs_max t
	    where t.WTBM like CONCAT(CONCAT('%', #{field1}),'%')
	    and t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
	    AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
	    --and t.DWBM like substr(t.DWBM,1,4) || '%' 
	    group by t.DWBM 
	   ) b
	    where a.dwbm = substr(b.DWBM(+),1,6) and a.DWBM like CONCAT(CONCAT('%', #{DWBM}),'%')
	    order by DWBM asc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listbyDepartmentrealEJ" parameterType="pd" resultType="pd">
		 select t.cbrgh,t.cbr,t.wtbmmc,count(distinct t.tysah) sl 
		 from t_ajjbxx_jcjs_max t 
		 where t.DWBM like CONCAT(CONCAT('%', #{DWBM}),'%')
		 and t.slrq 
		 between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		 group by t.cbrgh,t.cbr,t.wtbm,t.wtbmmc order by t.cbrgh,t.wtbm asc
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>