<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CaseRealMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into "T_AGGZTJ_DQ_3"(
			"DWMC",	
			"KYJC_JCJS_TYSAH",	
			"JSXZ_JCJS_TYSAH",	
			"TBLY_JCJS_TYSAH",	
			"JYJD_JCJS_TYSAH",	
			"ZJSC_JCJS_TYSAH",	
			"JCJY_JCJS_TYSAH",	
			"SXYTTQ_JCJS_TYSAH",	
			"AGGZTJ_DQ_3_ID"
		) values (
			#{DWMC},	
			#{KYJC_JCJS_TYSAH},	
			#{JSXZ_JCJS_TYSAH},	
			#{TBLY_JCJS_TYSAH},	
			#{JYJD_JCJS_TYSAH},	
			#{ZJSC_JCJS_TYSAH},	
			#{JCJY_JCJS_TYSAH},	
			#{SXYTTQ_JCJS_TYSAH},	
			#{AGGZTJ_DQ_3_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  "T_AGGZTJ_DQ_3"
			set 
				"DWMC" = #{DWMC},	
				"KYJC_JCJS_TYSAH" = #{KYJC_JCJS_TYSAH},	
				"JSXZ_JCJS_TYSAH" = #{JSXZ_JCJS_TYSAH},	
				"TBLY_JCJS_TYSAH" = #{TBLY_JCJS_TYSAH},	
				"JYJD_JCJS_TYSAH" = #{JYJD_JCJS_TYSAH},	
				"ZJSC_JCJS_TYSAH" = #{ZJSC_JCJS_TYSAH},	
				"JCJY_JCJS_TYSAH" = #{JCJY_JCJS_TYSAH},	
				"SXYTTQ_JCJS_TYSAH" = #{SXYTTQ_JCJS_TYSAH},	
			"AGGZTJ_DQ_3_ID" = "AGGZTJ_DQ_3_ID"
			where 
				"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			"DWMC",	
			"KYJC_JCJS_TYSAH",	
			"JSXZ_JCJS_TYSAH",	
			"TBLY_JCJS_TYSAH",	
			"JYJD_JCJS_TYSAH",	
			"ZJSC_JCJS_TYSAH",	
			"JCJY_JCJS_TYSAH",	
			"SXYTTQ_JCJS_TYSAH",	
			"AGGZTJ_DQ_3_ID"
		from 
			"T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a."DWMC",	
				a."KYJC_JCJS_TYSAH",	
				a."JSXZ_JCJS_TYSAH",	
				a."TBLY_JCJS_TYSAH",	
				a."JYJD_JCJS_TYSAH",	
				a."ZJSC_JCJS_TYSAH",	
				a."JCJY_JCJS_TYSAH",	
				a."SXYTTQ_JCJS_TYSAH",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select dwbm,dwmc,kyjc_jcjs_tysah_zdysj,jsxz_jcjs_tysah_zdysj,tbly_jcjs_tysah_zdysj,jyjd_jcjs_tysah_zdysj,zjsc_jcjs_tysah_zdysj,jcjy_jcjs_tysah_zdysj,sxyttq_jcjs_tysah_zdysj
from
(
select b.dwbm,b.dwmc,nvl(kyjc_jcjs_tysah_zdysj,'0')kyjc_jcjs_tysah_zdysj, nvl(jsxz_jcjs_tysah_zdysj,'0')jsxz_jcjs_tysah_zdysj, nvl(tbly_jcjs_tysah_zdysj,'0')tbly_jcjs_tysah_zdysj, nvl(jyjd_jcjs_tysah_zdysj,'0')jyjd_jcjs_tysah_zdysj, nvl(zjsc_jcjs_tysah_zdysj,'0')zjsc_jcjs_tysah_zdysj,nvl(jcjy_jcjs_tysah_zdysj,'0')jcjy_jcjs_tysah_zdysj, nvl(sxyttq_jcjs_tysah_zdysj,'0')sxyttq_jcjs_tysah_zdysj
from
(select dwbm,sum(kyjc_jcjs_tysah_zdysj)kyjc_jcjs_tysah_zdysj,sum(jsxz_jcjs_tysah_zdysj)jsxz_jcjs_tysah_zdysj,sum(tbly_jcjs_tysah_zdysj)tbly_jcjs_tysah_zdysj,sum(jyjd_jcjs_tysah_zdysj)jyjd_jcjs_tysah_zdysj,sum(zjsc_jcjs_tysah_zdysj)zjsc_jcjs_tysah_zdysj,sum(jcjy_jcjs_tysah_zdysj)jcjy_jcjs_tysah_zdysj,sum(sxyttq_jcjs_tysah_zdysj)sxyttq_jcjs_tysah_zdysj
from
(select
        substr(t.DWBM,1,4) dwbm,
        count (distinct((case when t.AJLB_BM like '1301%' then t.tysah end))) kyjc_jcjs_tysah_zdysj,
        count (distinct((case when t.AJLB_BM like '1302%' then t.tysah end))) jsxz_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1303%' then t.tysah end))) tbly_jcjs_tysah_zdysj, 
        count (distinct((case when t.AJLB_BM like '1304%' then t.tysah end))) jyjd_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1305%' then t.tysah end))) zjsc_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1306%' then t.tysah end))) jcjy_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1307%' then t.tysah end))) sxyttq_jcjs_tysah_zdysj
  from t_ajjbxx_jcjs_min t
 where t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
   group by substr(t.DWBM,1,4)) p group by dwbm,kyjc_jcjs_tysah_zdysj,jsxz_jcjs_tysah_zdysj,tbly_jcjs_tysah_zdysj,jyjd_jcjs_tysah_zdysj,zjsc_jcjs_tysah_zdysj,jcjy_jcjs_tysah_zdysj,sxyttq_jcjs_tysah_zdysj) a right join t_aggztj_dq_3 b on a.dwbm=b.dwbm ) where dwmc not like '%总计%'order by dwbm
	</select>
	
	<!-- 超链接一级 -->
	<select id="listbyCasereal" parameterType="pd" resultType="pd">
		select dwbm,dwmc,kyjc_jcjs_tysah_zdysj,jsxz_jcjs_tysah_zdysj,tbly_jcjs_tysah_zdysj,jyjd_jcjs_tysah_zdysj,zjsc_jcjs_tysah_zdysj,jcjy_jcjs_tysah_zdysj,sxyttq_jcjs_tysah_zdysj
from
(select b.dwbm,b.dwmc,nvl(kyjc_jcjs_tysah_zdysj,'0') kyjc_jcjs_tysah_zdysj, nvl(jsxz_jcjs_tysah_zdysj,'0') jsxz_jcjs_tysah_zdysj, nvl(tbly_jcjs_tysah_zdysj,'0') tbly_jcjs_tysah_zdysj, nvl(jyjd_jcjs_tysah_zdysj,'0') jyjd_jcjs_tysah_zdysj, nvl(zjsc_jcjs_tysah_zdysj,'0') zjsc_jcjs_tysah_zdysj,nvl(jcjy_jcjs_tysah_zdysj,'0') jcjy_jcjs_tysah_zdysj, nvl(sxyttq_jcjs_tysah_zdysj,'0') sxyttq_jcjs_tysah_zdysj
from
(select dwbm,sum(kyjc_jcjs_tysah_zdysj) kyjc_jcjs_tysah_zdysj,sum(jsxz_jcjs_tysah_zdysj) jsxz_jcjs_tysah_zdysj,sum(tbly_jcjs_tysah_zdysj) tbly_jcjs_tysah_zdysj,sum(jyjd_jcjs_tysah_zdysj) jyjd_jcjs_tysah_zdysj,sum(zjsc_jcjs_tysah_zdysj) zjsc_jcjs_tysah_zdysj,sum(jcjy_jcjs_tysah_zdysj) jcjy_jcjs_tysah_zdysj,sum(sxyttq_jcjs_tysah_zdysj) sxyttq_jcjs_tysah_zdysj
from
(select
        substr(t.DWBM,1,6) dwbm,
        count (distinct((case when t.AJLB_BM like '1301%' then t.tysah end))) kyjc_jcjs_tysah_zdysj,
        count (distinct((case when t.AJLB_BM like '1302%' then t.tysah end))) jsxz_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1303%' then t.tysah end))) tbly_jcjs_tysah_zdysj, 
        count (distinct((case when t.AJLB_BM like '1304%' then t.tysah end))) jyjd_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1305%' then t.tysah end))) zjsc_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1306%' then t.tysah end))) jcjy_jcjs_tysah_zdysj,  
        count (distinct((case when t.AJLB_BM like '1307%' then t.tysah end))) sxyttq_jcjs_tysah_zdysj
  from t_ajjbxx_jcjs_min t
 where t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
   group by substr(t.DWBM,1,6)) p group by dwbm,kyjc_jcjs_tysah_zdysj,jsxz_jcjs_tysah_zdysj,tbly_jcjs_tysah_zdysj,jyjd_jcjs_tysah_zdysj,zjsc_jcjs_tysah_zdysj,jcjy_jcjs_tysah_zdysj,sxyttq_jcjs_tysah_zdysj) a right join t_aggztj_dq_4 b on a.dwbm=b.dwbm ) where dwbm like CONCAT(CONCAT('%', #{DWBM}),'%') order by dwbm
	</select>
	
	<select id="listbyCaserealEJ" parameterType="pd" resultType="pd">
		select t.cbrgh,t.cbr,t.ajlb_mc,count(distinct t.tysah) sl 
		from t_ajjbxx_jcjs_min t 
		where t.DWBM like CONCAT(CONCAT('%', #{DWBM}),'%')  
		and t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		group by t.cbrgh,t.cbr,t.ajlb_bm,t.ajlb_mc order by t.cbrgh,t.ajlb_bm asc
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>