<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepartmentStandardMapper">
	
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			"DWMC",	
			"WTBM04_JCJS",	
			"WTBM05_JCJS",	
			"WTBM02_JCJS",	
			"WTBM03_JCJS",	
			"WTBM06_JCJS",	
			"WTBM07_JCJS",	
			"WTBM08_JCJS",	
			"WTBM09_JCJS",	
			"WTBM10_JCJS",	
			"WTBM11_JCJS",	
			"WTBM14_JCJS",	
			"WTBM01_JCJS",	
			"WTBM13_JCJS",	
			"WTBM12_JCJS",	
			"WTBM30_JCJS",	
			"WTBM21_JCJS",	
			"WTBM22_JCJS",	
			"WTBM23_JCJS",	
			"WTBM24_JCJS",	
			"AGGZTJ_DQ_3_ID"
		from 
			"T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a."DWMC",	
				a."WTBM04_JCJS",	
				a."WTBM05_JCJS",	
				a."WTBM02_JCJS",	
				a."WTBM03_JCJS",	
				a."WTBM06_JCJS",	
				a."WTBM07_JCJS",	
				a."WTBM08_JCJS",	
				a."WTBM09_JCJS",	
				a."WTBM10_JCJS",	
				a."WTBM11_JCJS",	
				a."WTBM14_JCJS",	
				a."WTBM01_JCJS",	
				a."WTBM13_JCJS",	
				a."WTBM12_JCJS",	
				a."WTBM30_JCJS",	
				a."WTBM21_JCJS",	
				a."WTBM22_JCJS",	
				a."WTBM23_JCJS",	
				a."WTBM24_JCJS",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a."DWMC",	
				a."WTBM04_JCJS",	
				a."WTBM05_JCJS",	
				a."WTBM02_JCJS",	
				a."WTBM03_JCJS",	
				a."WTBM06_JCJS",	
				a."WTBM07_JCJS",	
				a."WTBM08_JCJS",	
				a."WTBM09_JCJS",	
				a."WTBM10_JCJS",	
				a."WTBM11_JCJS",	
				a."WTBM14_JCJS",	
				a."WTBM01_JCJS",	
				a."WTBM13_JCJS",	
				a."WTBM12_JCJS",	
				a."WTBM30_JCJS",	
				a."WTBM21_JCJS",	
				a."WTBM22_JCJS",	
				a."WTBM23_JCJS",	
				a."WTBM24_JCJS",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	
</mapper>