<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WritmountnodeMapper">
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.SJMC,	
				a.SJSL
		from 
				T_SJLX a
	</select>
	
	<!-- 列表(全部) -->
	<select id="searching" parameterType="pd" resultType="pd">
		select wsmbbh,wsmbmc,lcmbmc,lcjdmc 
		from v_wsgzjd t
		where t.wsmbmc like CONCAT(CONCAT('%', #{field1}),'%')
		or t.wsmbbh like CONCAT(CONCAT('%', #{field1}),'%') 
		order by t.wsmbbh
	</select>
	
</mapper>