<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MajorRealMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into "T_AGGZTJ_DQ_3"(
			"DWMC",	
			"FYLC_JCJS_TYSAH",	
			"FYBL_JCJS_TYSAH",	
			"FYJS_JCJS_TYSAH",	
			"FYWZ_JCJS_TYSAH",	
			"FYDW_JCJS_TYSAH",	
			"WJJY_JCJS_TYSAH",	
			"HJJY_JCJS_TYSAH",	
			"WLWZ_JCJS_TYSAH",	
			"SXZL_JCJS_TYSAH",	
			"DZZJ_JCJS_TYSAH",	
			"SFKJ_JCJS_TYSAH",	
			"XLCS_JCJS_TYSAH",	
			"TBLX_JCJS_TYSAH",	
			"PG_JCJS_TYSAH",	
			"QT_JCJS_TYSAH",	
			"AGGZTJ_DQ_3_ID"
		) values (
			#{DWMC},	
			#{FYLC_JCJS_TYSAH},	
			#{FYBL_JCJS_TYSAH},	
			#{FYJS_JCJS_TYSAH},	
			#{FYWZ_JCJS_TYSAH},	
			#{FYDW_JCJS_TYSAH},	
			#{WJJY_JCJS_TYSAH},	
			#{HJJY_JCJS_TYSAH},	
			#{WLWZ_JCJS_TYSAH},	
			#{SXZL_JCJS_TYSAH},	
			#{DZZJ_JCJS_TYSAH},	
			#{SFKJ_JCJS_TYSAH},	
			#{XLCS_JCJS_TYSAH},	
			#{TBLX_JCJS_TYSAH},	
			#{PG_JCJS_TYSAH},	
			#{QT_JCJS_TYSAH},	
			#{AGGZTJ_DQ_3_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  "T_AGGZTJ_DQ_3"
			set 
				"DWMC" = #{DWMC},	
				"FYLC_JCJS_TYSAH" = #{FYLC_JCJS_TYSAH},	
				"FYBL_JCJS_TYSAH" = #{FYBL_JCJS_TYSAH},	
				"FYJS_JCJS_TYSAH" = #{FYJS_JCJS_TYSAH},	
				"FYWZ_JCJS_TYSAH" = #{FYWZ_JCJS_TYSAH},	
				"FYDW_JCJS_TYSAH" = #{FYDW_JCJS_TYSAH},	
				"WJJY_JCJS_TYSAH" = #{WJJY_JCJS_TYSAH},	
				"HJJY_JCJS_TYSAH" = #{HJJY_JCJS_TYSAH},	
				"WLWZ_JCJS_TYSAH" = #{WLWZ_JCJS_TYSAH},	
				"SXZL_JCJS_TYSAH" = #{SXZL_JCJS_TYSAH},	
				"DZZJ_JCJS_TYSAH" = #{DZZJ_JCJS_TYSAH},	
				"SFKJ_JCJS_TYSAH" = #{SFKJ_JCJS_TYSAH},	
				"XLCS_JCJS_TYSAH" = #{XLCS_JCJS_TYSAH},	
				"TBLX_JCJS_TYSAH" = #{TBLX_JCJS_TYSAH},	
				"PG_JCJS_TYSAH" = #{PG_JCJS_TYSAH},	
				"QT_JCJS_TYSAH" = #{QT_JCJS_TYSAH},	
			"AGGZTJ_DQ_3_ID" = "AGGZTJ_DQ_3_ID"
			where 
				"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			"DWMC",	
			"FYLC_JCJS_TYSAH",	
			"FYBL_JCJS_TYSAH",	
			"FYJS_JCJS_TYSAH",	
			"FYWZ_JCJS_TYSAH",	
			"FYDW_JCJS_TYSAH",	
			"WJJY_JCJS_TYSAH",	
			"HJJY_JCJS_TYSAH",	
			"WLWZ_JCJS_TYSAH",	
			"SXZL_JCJS_TYSAH",	
			"DZZJ_JCJS_TYSAH",	
			"SFKJ_JCJS_TYSAH",	
			"XLCS_JCJS_TYSAH",	
			"TBLX_JCJS_TYSAH",	
			"PG_JCJS_TYSAH",	
			"QT_JCJS_TYSAH",	
			"AGGZTJ_DQ_3_ID"
		from 
			"T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a."DWMC",	
				a."FYLC_JCJS_TYSAH",	
				a."FYBL_JCJS_TYSAH",	
				a."FYJS_JCJS_TYSAH",	
				a."FYWZ_JCJS_TYSAH",	
				a."FYDW_JCJS_TYSAH",	
				a."WJJY_JCJS_TYSAH",	
				a."HJJY_JCJS_TYSAH",	
				a."WLWZ_JCJS_TYSAH",	
				a."SXZL_JCJS_TYSAH",	
				a."DZZJ_JCJS_TYSAH",	
				a."SFKJ_JCJS_TYSAH",	
				a."XLCS_JCJS_TYSAH",	
				a."TBLX_JCJS_TYSAH",	
				a."PG_JCJS_TYSAH",	
				a."QT_JCJS_TYSAH",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select dwbm,dwmc,fylc_jcjs_tysah_zdysj,fybl_jcjs_tysah_zdysj,fyjs_jcjs_tysah_zdysj,fywz_jcjs_tysah_zdysj,fydw_jcjs_tysah_zdysj,wjjy_jcjs_tysah_zdysj,hjjy_jcjs_tysah_zdysj,wlwz_jcjs_tysah_zdysj,sxzl_jcjs_tysah_zdysj,dzzj_jcjs_tysah_zdysj,sfkj_jcjs_tysah_zdysj,xlcs_jcjs_tysah_zdysj,tblx_jcjs_tysah_zdysj,pg_jcjs_tysah_zdysj,qt_jcjs_tysah_zdysj
from
(select b.dwbm,b.dwmc,nvl(fylc_jcjs_tysah_zdysj,'0') fylc_jcjs_tysah_zdysj,nvl(fybl_jcjs_tysah_zdysj,'0') fybl_jcjs_tysah_zdysj,nvl(fyjs_jcjs_tysah_zdysj,'0') fyjs_jcjs_tysah_zdysj,nvl(fywz_jcjs_tysah_zdysj,'0') fywz_jcjs_tysah_zdysj,nvl(fydw_jcjs_tysah_zdysj,'0') fydw_jcjs_tysah_zdysj,nvl(wjjy_jcjs_tysah_zdysj,'0') wjjy_jcjs_tysah_zdysj,nvl(hjjy_jcjs_tysah_zdysj,'0') hjjy_jcjs_tysah_zdysj,nvl(wlwz_jcjs_tysah_zdysj,'0') wlwz_jcjs_tysah_zdysj,nvl(sxzl_jcjs_tysah_zdysj,'0') sxzl_jcjs_tysah_zdysj,nvl(dzzj_jcjs_tysah_zdysj,'0') dzzj_jcjs_tysah_zdysj,nvl(sfkj_jcjs_tysah_zdysj,'0') sfkj_jcjs_tysah_zdysj,nvl(xlcs_jcjs_tysah_zdysj,'0') xlcs_jcjs_tysah_zdysj,nvl(tblx_jcjs_tysah_zdysj,'0') tblx_jcjs_tysah_zdysj,nvl(pg_jcjs_tysah_zdysj,'0')   pg_jcjs_tysah_zdysj,nvl(qt_jcjs_tysah_zdysj,'0')    qt_jcjs_tysah_zdysj   
from
(select dwbm,sum(fylc_jcjs_tysah_zdysj) fylc_jcjs_tysah_zdysj,sum(fybl_jcjs_tysah_zdysj) fybl_jcjs_tysah_zdysj,sum(fyjs_jcjs_tysah_zdysj) fyjs_jcjs_tysah_zdysj,sum(fywz_jcjs_tysah_zdysj) fywz_jcjs_tysah_zdysj,sum(fydw_jcjs_tysah_zdysj) fydw_jcjs_tysah_zdysj,sum(wjjy_jcjs_tysah_zdysj) wjjy_jcjs_tysah_zdysj,sum(hjjy_jcjs_tysah_zdysj) hjjy_jcjs_tysah_zdysj,sum(wlwz_jcjs_tysah_zdysj) wlwz_jcjs_tysah_zdysj,sum(sxzl_jcjs_tysah_zdysj) sxzl_jcjs_tysah_zdysj,sum(dzzj_jcjs_tysah_zdysj) dzzj_jcjs_tysah_zdysj,sum(sfkj_jcjs_tysah_zdysj) sfkj_jcjs_tysah_zdysj,sum(xlcs_jcjs_tysah_zdysj) xlcs_jcjs_tysah_zdysj,sum(tblx_jcjs_tysah_zdysj) tblx_jcjs_tysah_zdysj,sum(pg_jcjs_tysah_zdysj)   pg_jcjs_tysah_zdysj  , sum(qt_jcjs_tysah_zdysj)   qt_jcjs_tysah_zdysj
from
(select
        substr(t.DWBM,1,4) dwbm,
        count (distinct((case when t.sjzy like '1301160100001%' then t.tysah end))) fylc_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100002%' then t.tysah end))) fybl_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100003%' then t.tysah end))) fyjs_jcjs_tysah_zdysj, 
        count (distinct((case when t.sjzy like '1301160100004%' then t.tysah end))) fywz_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100005%' then t.tysah end))) fydw_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100006%' then t.tysah end))) wjjy_jcjs_tysah_zdysj, 
        count (distinct((case when t.sjzy like '1301160100007%' then t.tysah end))) hjjy_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100008%' then t.tysah end))) wlwz_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100009%' then t.tysah end))) sxzl_jcjs_tysah_zdysj, 
        count (distinct((case when t.sjzy like '1301160100010%' then t.tysah end))) dzzj_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100011%' then t.tysah end))) sfkj_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100012%' then t.tysah end))) xlcs_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100013%' then t.tysah end))) tblx_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100014%' then t.tysah end))) pg_jcjs_tysah_zdysj,    
        count (distinct((case when (t.sjzy like '1301160199000%' or t.sjzy is null) then t.tysah end))) qt_jcjs_tysah_zdysj 
  from t_ajjbxx_jcjs_min t
 where t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
   group by substr(t.DWBM,1,4)) p group by dwbm,fylc_jcjs_tysah_zdysj,fybl_jcjs_tysah_zdysj,fyjs_jcjs_tysah_zdysj,fywz_jcjs_tysah_zdysj,fydw_jcjs_tysah_zdysj,wjjy_jcjs_tysah_zdysj,hjjy_jcjs_tysah_zdysj,wlwz_jcjs_tysah_zdysj,sxzl_jcjs_tysah_zdysj,dzzj_jcjs_tysah_zdysj,sfkj_jcjs_tysah_zdysj,xlcs_jcjs_tysah_zdysj,tblx_jcjs_tysah_zdysj,pg_jcjs_tysah_zdysj,qt_jcjs_tysah_zdysj) a right join t_aggztj_dq_3 b on a.dwbm=b.dwbm ) where dwmc not like '%总计%'order by dwbm
	</select>
	
	<!-- 超链接一级 -->
	<select id="listbyMajorreal" parameterType="pd" resultType="pd">
		select dwbm,dwmc,fylc_jcjs_tysah_zdysj,fybl_jcjs_tysah_zdysj,fyjs_jcjs_tysah_zdysj,fywz_jcjs_tysah_zdysj,fydw_jcjs_tysah_zdysj,wjjy_jcjs_tysah_zdysj,hjjy_jcjs_tysah_zdysj,wlwz_jcjs_tysah_zdysj,sxzl_jcjs_tysah_zdysj,dzzj_jcjs_tysah_zdysj,sfkj_jcjs_tysah_zdysj,xlcs_jcjs_tysah_zdysj,tblx_jcjs_tysah_zdysj,pg_jcjs_tysah_zdysj,qt_jcjs_tysah_zdysj
from
(select b.dwbm,b.dwmc,nvl(fylc_jcjs_tysah_zdysj,'0') fylc_jcjs_tysah_zdysj,nvl(fybl_jcjs_tysah_zdysj,'0') fybl_jcjs_tysah_zdysj,nvl(fyjs_jcjs_tysah_zdysj,'0') fyjs_jcjs_tysah_zdysj,nvl(fywz_jcjs_tysah_zdysj,'0') fywz_jcjs_tysah_zdysj,nvl(fydw_jcjs_tysah_zdysj,'0') fydw_jcjs_tysah_zdysj,nvl(wjjy_jcjs_tysah_zdysj,'0') wjjy_jcjs_tysah_zdysj,nvl(hjjy_jcjs_tysah_zdysj,'0') hjjy_jcjs_tysah_zdysj,nvl(wlwz_jcjs_tysah_zdysj,'0') wlwz_jcjs_tysah_zdysj,nvl(sxzl_jcjs_tysah_zdysj,'0') sxzl_jcjs_tysah_zdysj,nvl(dzzj_jcjs_tysah_zdysj,'0') dzzj_jcjs_tysah_zdysj,nvl(sfkj_jcjs_tysah_zdysj,'0') sfkj_jcjs_tysah_zdysj,nvl(xlcs_jcjs_tysah_zdysj,'0') xlcs_jcjs_tysah_zdysj,nvl(tblx_jcjs_tysah_zdysj,'0') tblx_jcjs_tysah_zdysj,nvl(pg_jcjs_tysah_zdysj,'0')   pg_jcjs_tysah_zdysj,nvl(qt_jcjs_tysah_zdysj,'0')    qt_jcjs_tysah_zdysj   
from
(select dwbm,sum(fylc_jcjs_tysah_zdysj) fylc_jcjs_tysah_zdysj,sum(fybl_jcjs_tysah_zdysj) fybl_jcjs_tysah_zdysj,sum(fyjs_jcjs_tysah_zdysj) fyjs_jcjs_tysah_zdysj,sum(fywz_jcjs_tysah_zdysj) fywz_jcjs_tysah_zdysj,sum(fydw_jcjs_tysah_zdysj) fydw_jcjs_tysah_zdysj,sum(wjjy_jcjs_tysah_zdysj) wjjy_jcjs_tysah_zdysj,sum(hjjy_jcjs_tysah_zdysj) hjjy_jcjs_tysah_zdysj,sum(wlwz_jcjs_tysah_zdysj) wlwz_jcjs_tysah_zdysj,sum(sxzl_jcjs_tysah_zdysj) sxzl_jcjs_tysah_zdysj,sum(dzzj_jcjs_tysah_zdysj) dzzj_jcjs_tysah_zdysj,sum(sfkj_jcjs_tysah_zdysj) sfkj_jcjs_tysah_zdysj,sum(xlcs_jcjs_tysah_zdysj) xlcs_jcjs_tysah_zdysj,sum(tblx_jcjs_tysah_zdysj) tblx_jcjs_tysah_zdysj,sum(pg_jcjs_tysah_zdysj)   pg_jcjs_tysah_zdysj  , sum(qt_jcjs_tysah_zdysj)   qt_jcjs_tysah_zdysj
from
(select
        substr(t.DWBM,1,6) dwbm,
        count (distinct((case when t.sjzy like '1301160100001%' then t.tysah end))) fylc_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100002%' then t.tysah end))) fybl_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100003%' then t.tysah end))) fyjs_jcjs_tysah_zdysj, 
        count (distinct((case when t.sjzy like '1301160100004%' then t.tysah end))) fywz_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100005%' then t.tysah end))) fydw_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100006%' then t.tysah end))) wjjy_jcjs_tysah_zdysj, 
        count (distinct((case when t.sjzy like '1301160100007%' then t.tysah end))) hjjy_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100008%' then t.tysah end))) wlwz_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100009%' then t.tysah end))) sxzl_jcjs_tysah_zdysj, 
        count (distinct((case when t.sjzy like '1301160100010%' then t.tysah end))) dzzj_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100011%' then t.tysah end))) sfkj_jcjs_tysah_zdysj,  
        count (distinct((case when t.sjzy like '1301160100012%' then t.tysah end))) xlcs_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100013%' then t.tysah end))) tblx_jcjs_tysah_zdysj,
        count (distinct((case when t.sjzy like '1301160100014%' then t.tysah end))) pg_jcjs_tysah_zdysj,    
        count (distinct((case when (t.sjzy like '1301160199000%' or t.sjzy is null) then t.tysah end))) qt_jcjs_tysah_zdysj 
  from t_ajjbxx_jcjs_min t
 where t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
   group by substr(t.DWBM,1,6)) p group by dwbm,fylc_jcjs_tysah_zdysj,fybl_jcjs_tysah_zdysj,fyjs_jcjs_tysah_zdysj,fywz_jcjs_tysah_zdysj,fydw_jcjs_tysah_zdysj,wjjy_jcjs_tysah_zdysj,hjjy_jcjs_tysah_zdysj,wlwz_jcjs_tysah_zdysj,sxzl_jcjs_tysah_zdysj,dzzj_jcjs_tysah_zdysj,sfkj_jcjs_tysah_zdysj,xlcs_jcjs_tysah_zdysj,tblx_jcjs_tysah_zdysj,pg_jcjs_tysah_zdysj,qt_jcjs_tysah_zdysj   ) a right join t_aggztj_dq_4 b on a.dwbm=b.dwbm ) where dwbm like CONCAT(CONCAT('%', #{DWBM}),'%') order by dwbm
	</select>
	
	<select id="listbyInvolvemajorEJ" parameterType="pd" resultType="pd">
		 select t.cbrgh,t.cbr,t.sjzymc, count(distinct t.tysah) sl 
		 from t_ajjbxx_jcjs_min t 
		 where t.DWBM like CONCAT(CONCAT('%', #{DWBM}),'%')
		 and t.slrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		 group by t.cbrgh,t.cbr,t.sjzy,t.sjzymc order by t.cbrgh,t.sjzy asc

	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>