<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CaseStandardMapper">
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			"DWMC",	
			"KYJC_JCJS",	
			"JSXZ_JCJS",	
			"TBLY_JCJS",	
			"JYJD_JCJS",	
			"ZJSC_JCJS",	
			"JCJY_JCJS",	
			"SXYTTQ_JCJS",	
			"AGGZTJ_DQ_3_ID"
		from 
			"T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a."DWMC",	
				a."KYJC_JCJS",	
				a."JSXZ_JCJS",	
				a."TBLY_JCJS",	
				a."JYJD_JCJS",	
				a."ZJSC_JCJS",	
				a."JCJY_JCJS",	
				a."SXYTTQ_JCJS",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a."DWMC",	
				a."KYJC_JCJS",	
				a."JSXZ_JCJS",	
				a."TBLY_JCJS",	
				a."JYJD_JCJS",	
				a."ZJSC_JCJS",	
				a."JCJY_JCJS",	
				a."SXYTTQ_JCJS",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	
</mapper>