<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DateditMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into "T_AGGZTJ_DQ_3"(
			"DWMC",	
			"SLRQXG_JCJS",	
			"BJRQXG_JCJS",	
			"DQRQXG_JCJS",	
			"AGGZTJ_DQ_3_ID"
		) values (
			#{DWMC},	
			#{SLRQXG_JCJS},	
			#{BJRQXG_JCJS},	
			#{DQRQXG_JCJS},	
			#{AGGZTJ_DQ_3_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  "T_AGGZTJ_DQ_3"
			set 
				"DWMC" = #{DWMC},	
				"SLRQXG_JCJS" = #{SLRQXG_JCJS},	
				"BJRQXG_JCJS" = #{BJRQXG_JCJS},	
				"DQRQXG_JCJS" = #{DQRQXG_JCJS},	
			"AGGZTJ_DQ_3_ID" = "AGGZTJ_DQ_3_ID"
			where 
				"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			"DWMC",	
			"SLRQXG_JCJS",	
			"BJRQXG_JCJS",	
			"DQRQXG_JCJS",	
			"AGGZTJ_DQ_3_ID"
		from 
			"T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" = #{AGGZTJ_DQ_3_ID}
	</select>
	
	<select id="listbyUnitname" parameterType="pd" resultType="pd">
		select dwbm,dwmc,slrqxg_jcjs,bjrqxg_jcjs,dqrqxg_jcjs 
		from T_AGGZTJ_DQ_4 t 
		where t.dwbm like CONCAT(CONCAT('%', #{DWBM}),'%') 
		order by dwbm asc
	</select>
	
	<select id="listbyAccept" parameterType="pd" resultType="pd">
		select ajlb_mc,bmsah,xgsj,czr,yrq,xrq,xgyy
		from v_slrqxgjl_jcjs t 
		where t.dwbm like CONCAT(CONCAT('%', #{DWBM}),'%') 
		order by ajlb_bm,bmsah,xgsj asc
	</select>
	
	<select id="listbyConclude" parameterType="pd" resultType="pd">
		select ajlb_mc,bmsah,xgsj,czr,yrq,xrq,xgyy 
		from v_bjrqxgjl_jcjs t 
		where t.dwbm like CONCAT(CONCAT('%', #{DWBM}),'%') 
		order by ajlb_bm,bmsah,xgsj asc
	</select>
	
	<select id="listbyExpire" parameterType="pd" resultType="pd">
		select ajlb_mc,bmsah,xgsj,czr,yrq,xrq,xgyy 
		from v_dqrqxgjl_jcjs t 
		where t.dwbm like CONCAT(CONCAT('%', #{DWBM}),'%') 
		order by ajlb_bm,bmsah,xgsj asc
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a."DWMC",	
				a."SLRQXG_JCJS",	
				a."BJRQXG_JCJS",	
				a."DQRQXG_JCJS",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a."DWBM",
				a."DWMC",
				a."SLRQXG_JCJS",	
				a."BJRQXG_JCJS",	
				a."DQRQXG_JCJS",	
				a."AGGZTJ_DQ_3_ID"
		from 
				"T_AGGZTJ_DQ_3" a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from "T_AGGZTJ_DQ_3"
		where 
			"AGGZTJ_DQ_3_ID" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>