<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WritprintMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into T_AGGZTJ_DQ_3(
			DWMC,	
			WSDY_JCJS,	
			AGGZTJ_DQ_3_ID
		) values (
			#{DWMC},	
			#{WSDY_JCJS},	
			#{AGGZTJ_DQ_3_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from T_AGGZTJ_DQ_3
		where 
			AGGZTJ_DQ_3_ID = #{AGGZTJ_DQ_3_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  T_AGGZTJ_DQ_3
			set 
				DWMC = #{DWMC},
				WSDY_JCJS = #{WSDY_JCJS},
			AGGZTJ_DQ_3_ID = AGGZTJ_DQ_3_ID
			where 
				AGGZTJ_DQ_3_ID = #{AGGZTJ_DQ_3_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			DWMC,	
			WSDY_JCJS,	
			AGGZTJ_DQ_3_ID
		from 
			T_AGGZTJ_DQ_3
		where 
			AGGZTJ_DQ_3_ID = #{AGGZTJ_DQ_3_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.DWMC,	
				a.WSDY_JCJS,	
				a.AGGZTJ_DQ_3_ID
		from 
				T_AGGZTJ_DQ_3 a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select a.dwbm,
		a.dwmc,
		nvl(dycs,'0') dycs
		from t_aggztj_dq_3 a,
		(select
		      t.DWBM,
		      sum(t.sjdyfs) dycs
		from V_DYJL_JCJS t
		where t.czrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
					 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
		--and t.DWBM like substr(t.DWBM,1,4) || '%' 
		group by t.DWBM 
		) b
		where a.dwbm = substr(b.DWBM(+),1,4) 
		order by DWBM asc
	</select>
	
	<!-- 超链接一级 -->
	<select id="listbyWritprint" parameterType="pd" resultType="pd">
		select a.dwbm,
		a.dwmc,
		nvl(dycs,'0') dycs
		from t_aggztj_dq_4 a,
		(select
		      t.DWBM,
		      sum(t.sjdyfs) dycs
		from V_DYJL_JCJS t
		where t.czrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
					 AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
		--and t.DWBM like substr(t.DWBM,1,4) || '%' 
		group by t.DWBM 
		) b
		where a.dwbm = substr(b.DWBM(+),1,6) and a.dwbm like CONCAT(CONCAT('%', #{DWBM}),'%')
		order by DWBM asc
	</select>
	
	<!-- 超链接 -->
	<select id="listbyWritprintEJ" parameterType="pd" resultType="pd">
		select czrgh,czr,sum(t.sjdyfs) dyfs 
		from V_DYJL_JCJS t 
		where t.dwbm like CONCAT(CONCAT('%', #{DWBM}),'%')
		and t.czrq between to_date(#{beginTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		AND to_date(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss') 
		group by czrgh,czr  
		order by czrgh asc
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from T_AGGZTJ_DQ_3
		where 
			AGGZTJ_DQ_3_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>